
.list-contents{
    margin: 1.5rem;
}

.btn-l-2{
    width:90px;
}

.list{
    align-items: center;
}

.navbar-nav{
    text-align: left;
}

.note-text{
    height: 200px;
}

.pointer-hover{
    cursor: pointer;
}

.hover-link:hover{
  color: blueviolet;
}

.card-top-delete{
    color: #dd0707;
    padding-right: 2rem;
}


.display-7 {
    font-size: calc(1.2rem + 0.6vw);
    font-weight: 300;
    line-height: 1.2;
  }
  @media (min-width: 1200px) {
    .display-7 {
      font-size: 2rem;
    }
  }

  .display-8 {
    font-size: calc(0.9rem + 0.3vw) !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
  }
  @media (min-width: 1200px) {
    .display-8 {
      font-size: 1.5rem;
    }
  }

  .display-9 {
    font-size: calc(0.7rem + 0.3vw);
    font-weight: 300;
    line-height: 1.2;
  }
  @media (min-width: 1200px) {
    .display-9 {
      font-size: 1rem;
    }
  }

.bold-font{
  font-weight:400 ;
}

.card{
  height: 3rem;
  width: 19rem;
  min-height: 100%;
}

.max-right{
  right: 2px;
  position: absolute;
  bottom: 2px;
}

.body{
  background: url('/bg.jpg') no-repeat center fixed !important;
  background-size: cover;

}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: rgb(136, 44, 249) rgb(136, 44, 249) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #FF3D00 #FF3D00;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    